 .mainLink {
    margin: 1rem 0rem;
 }
 .mainLink a { 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #004860;
 } 
.mainLink a:hover { 
    background: lightblue;
}

.itemLinks a {
    text-decoration: underline;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #004860;
 }
 
 .itemLinks a:hover { 
    background: lightblue;
}

 
.itemSummary {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 1rem !important;
    padding-left: 10px;
    color: #555;
}

.itemTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1rem !important;
}

.dividingLine {
    border: 1px dotted #c6c6c6;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.siteTitle {
    font-size: 34px;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.updateInfo {
    display: flex;
    justify-content: space-between;
}

.updateInfo p {
    font-size: 14px;
    margin-bottom: 1rem;
}

.updateInfo #lastUpdated {
    text-align: right;
}

hr {
    position: relative;
    border: none;
    height: 1px;
    background: #333;
}

.clusterImage {
    max-width: 100%;
    height: auto;
}

.clusterLabel {
    background: #2f4471;
    padding: 5px 10px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}

.container {
  max-width: 1200px; 
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 30px;
    /*width: 100%;*/
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: lightgoldenrodyellow;
}

.back-to-top {
    display: block;
    background-color: lightgoldenrodyellow;
    color: #333;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.back-to-top:hover {
    background-color: #444;
    color: white;
}



